---
import More from "./bubble-more.astro";

const id = "htmx-chat-bubble";

const { props } = Astro;

const align = props.align;

const rightAligned = align === "right";

const key = props.key;
---

<div
  id={id}
  class="tw-flex tw-flex-row tw-w-full"
  style={{
    "justify-content": rightAligned ? "flex-end" : "flex-start",
  }}
>
  <div
    class="tw-flex tw-flex-col tw-justify-start tw-w-full tw-p-2 tw-max-w-[80%] tw-gap-2"
  >
    <p
      class="tw-truncate tw-w-full"
      style={{
        "text-align": rightAligned ? "right" : undefined,
      }}
    >
      {`Mary Hilda`}
    </p>
    <div class="tw-flex tw-flex-row tw-items-start tw-gap-2">
      {rightAligned && <More align={align} key={key} />}
      <div
        class="tw-rounded-lg tw-bg-slate-200 tw-flex tw-flex-col tw-p-2 tw-gap-2"
      >
        <p>
          {
            `Hello Obaidullah, I will be your case advisor for case #029290. I have assigned some homework for you to fill. Please keep up with the due dates. Should you have any questions, you can message me anytime. Thanks.`
          }
        </p>
        <p>{`19:32`}</p>
      </div>
      {!rightAligned && <More align={align} key={key} />}
    </div>
  </div>
</div>
