---
import { useSearchParams } from "../../utils/searchParams";
import ActionFAB from "./fab-action.html.astro";
import InboxFAB from "./fab-inbox.html.astro";
import TaskFAB from "./fab-task.html.astro";

const { props, url } = Astro;

const [params] = useSearchParams({ url });

const keys = [...Object.keys(props), ...Object.keys(params)];

for (const key of keys) {
  props[key] = params[key] ?? props[key];
}

const expanded = props.expanded === "true";

const fabStyle: Record<string, string | number | null | undefined> = {};

if (expanded === false) {
  fabStyle.transform = "translate(150%)";
  fabStyle.opacity = 0;
  fabStyle["z-index"] = -50;
  fabStyle.position = "absolute";
}

const htmxURLParams = new URLSearchParams();

htmxURLParams.set("expanded", `${!expanded}`);

const htmxURL = `/htmx/bar-fab.html?${htmxURLParams.toString()}`;

const htmxTrigger = `${expanded ? "mouseleave" : "mouseenter"} once`;
---

<div
  {...props}
  id="htmx-bar-fab"
  class="tw-absolute tw-right-[34px] tw-bottom-[27px] tw-flex tw-flex-row-reverse tw-items-center tw-justify-end tw-gap-[26px] tw-duration-300 tw-overflow-x-hidden"
  hx-get={htmxURL}
  hx-swap="outerHTML swap:300ms"
  hx-trigger={htmxTrigger}
>
  <style is:inline>
    #htmx-bar-fab.htmx-swapping > *:not(#htmx-fab-action) {
      transform: translate(150%);
      opacity: 0;
    }

    #htmx-bar-fab.htmx-added > *:not(#htmx-fab-action) {
      transform: translate(150%);
      opacity: 0;
    }

    #htmx-bar-fab > *:not(#htmx-fab-action) {
      transform: translate(0%);
      opacity: 1;
      transition: all 300ms ease;
    }
  </style>
  <ActionFAB expanded={expanded} />
  <InboxFAB expanded={expanded} style={fabStyle} />
  <TaskFAB expanded={expanded} style={fabStyle} />
</div>
